.mobile {
  position: relative;
  max-width: 210px;
  height: 350px;
  overflow: scroll;
  margin: auto;
  border: 8px black solid;
  border-radius: 8px;
}

.desktop {
  position: relative;
  max-width: 100%;
  max-height: 480px;
  aspect-ratio: 5/4;
  overflow: scroll;
  margin: auto;
  border: 8px black solid;
  border-radius: 8px;
}
