header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  div {
    background-color: #fff;
  }
  .Polaris-TopBar-UserMenu__Name {
    color: black;
  }

  .logo {
    width: 256px;
    height: 56px;
  }
}
